<% /* file: views/user/show.ejs                       */ %>

<% include ../partials/page-header %>

<!---------------------------------->
<% if (uploadFile) { %>
    <div id="avatar-chooser" class="modal" tabindex="-1">
<% } else { %>
    <div id="avatar-chooser" class="modal fade" tabindex="-1">
<% } %>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

            <img id="test-image">

            <div class="flex-container">
              <button id="done-button" class="btn btn-primary btn-sm">done</button>
              <i id="info-top-button" class="fa fa-info-circle" title="click for info"></i>
              <span id="info-top-label">drag an image, drop it below</span>
              <i id="close-dialog-button" class="fa fa-close" title="close dialog window"></i>
            </div><!-- /.flex-container -->

            <div id="avatar-cropper">
<% if (uploadFile) { %>
              <img id="cropper-image" src="<%= uploadFile %>">
<% } else { %>
              <img id="cropper-image" src="https://farm9.staticflickr.com/8609/16169099399_bd393db803.jpg">
<% } %>
              <div id="feedback-label">error: image could not be imported</div>
            </div><!-- /#avatar-cropper -->
            <i id="info-bottom-button" class="fa fa-info-circle" title="click for info"></i>
            <span id="info-bottom-label">upload or select an image resource</span>

            <div class="input-group">
              <span class="input-group-btn">
                <form action="/user/<%= user._id %>/upload" method="post" enctype="multipart/form-data">
                  <label id="upload-file-button" class="btn btn-default btn-primary">upload file<input id="upload-file-hidden" name="upload_file" type="file" class="hidden"></label>
                </form>
                <button id="edit-image-button" class="btn btn-default btn-primary" type="button">edit image</button>
              </span><!-- /.input-group-btn -->
              <input id="url-input" class="form-control" type="text" placeholder="or paste image url here">
            </div><!-- /.input-group -->

          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<!---------------------------------->

    <div class="container profile-container">
      <form name="profile_form" action="/user/<%= user._id %>" method="POST">

        <div class="profile-banner">
<% /* for site admins, prefix the admin-badge to the username */
   if (user.is_admin) { %>
          <span class="glyphicon glyphicon-king thumbnail inline" title="site administrator"></span>
<% } %>
          <h1 id="username-banner" class="inline"><%= user.username %></h1>
<% /* for suspended users, display a notice-banner below the username */
   if (user.is_suspended) { %>
          <h3 class="suspended">USER SUSPENDED</h3>
          <a class="suspended" href="javascript:showViolationNotice()">notice of violation</a>
<% } %>
        </div><!-- /.profile-banner -->

        <div class="profile-content">
          <div class="row">
            <div class="col-xs-12 col-sm-4 no-gutter">

              <div class="avatar-container center-block">
                <i class="undo-button fa fa-undo" title="undo edit" data-input="avatar-input" data-undo="avatar-undo" data-changed="avatar"></i>
                <img id="avatar-image" class="thumbnail avatar-thumbnail" alt="avatar" src="<%= user.avatar_url %>">
              </div><!-- /.avatar-container -->
              <input type="hidden" name="avatar_url" value="<%= user.avatar_url %>">

              <h6 class="text-center dimmed"><em>join date:
                <span id="join-date-banner"><%= user.join_date %></span></em>
              </h6><!-- /.text-center -->

              <div class="text-center">
<% /* for site-admins, if not viewing their own profile, display the appropriate admin-button */
   if (currentUser && currentUser.is_admin && user.username !== currentUser.username) { %>
  <% if (user.is_suspended) { %>
                <button id="reinstate-button" class="profile-button btn btn-success btn-sm btn-normalize" href="javascript:adminForm.submit()">reinstate user</button>
  <% } else { %>
                <button id="suspend-button" class="profile-button btn btn-danger btn-sm btn-normalize" href="javascript:suspendUser()">suspend user</button>
  <% } %>
<% } %>

<% /* for site-users, if viewing their own profile and not suspended, display the form-submit button */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <button id="save-button" class="profile-button btn btn-primary btn-sm btn-normalize" type="submit" disabled="disabled">save changes</button>
<% } %>
              </div><!-- /.text-center [profile-buttons] -->

            </div><!-- /.col [left] -->

            <div class="col-xs-12 col-sm-8 no-gutter">

              <div class="form-group">
                <label for="first-name-input">first name</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="first-name-input" data-undo="first-name-undo" data-changed="firstName"></i>
                </span><!-- /.pull-right -->
                <input id="first-name-undo" type="hidden" value="<%= user.first_name %>">
<% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="first-name-input" class="form-control" type="text" name="user[first_name]" placeholder="first name" value="<%= user.first_name %>" data-changed="firstName">
<% } else { %>
                <input id="first-name-input" class="form-control" type="text" name="user[first_name]" placeholder="first name" value="<%= user.first_name %>" readonly>
<% } %>
              </div><!-- /.form-group [first-name] -->

              <div class="form-group">
                <label for="last-name-input">last name</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="last-name-input" data-undo="last-name-undo" data-changed="lastName"></i>
                </span><!-- /.pull-right -->
                <input id="last-name-undo" type="hidden" value="<%= user.last_name %>">
<% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="last-name-input" class="form-control" type="text" name="user[last_name]" placeholder="last name" value="<%= user.last_name %>" data-changed="lastName">
<% } else { %>
                <input id="last-name-input" class="form-control" type="text" name="user[last_name]" placeholder="last name" value="<%= user.last_name %>" readonly>
<% } %>
              </div><!-- /.form-group [last-name] -->

              <div class="form-group">
                <label for="email-address-input">email address</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="email-address-input" data-undo="email-address-undo" data-changed="emailAddress"></i>
                </span><!-- /.pull-right -->
                <input id="email-address-undo" type="hidden" value="<%= user.email_address %>">
<% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="email-address-input" class="form-control" type="text" name="user[email_address]" placeholder="email address" value="<%= user.email_address %>" data-changed="emailAddress">
<% } else { %>
                <input id="email-address-input" class="form-control" type="text" name="user[email_address]" placeholder="email address" value="<%= user.email_address %>" readonly>
<% } %>
              </div><!-- /.form-group [email-address] -->

              <div class="form-group">
                <label for="biography-input">biography</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="biography-input" data-undo="biography-undo" data-changed="biography"></i>
                </span><!-- /.pull-right -->
                <input id="biography-undo" type="hidden" value="<%= user.biography %>">
<% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <textarea id="biography-input" class="form-control" rows="4" name="user[biography]" placeholder="biography" data-changed="biography"><%= user.biography %></textarea>
<% } else { %>
                <textarea id="biography-input" class="form-control" rows="4" name="user[biography]" placeholder="biography" readonly><%= user.biography %></textarea>
<% } %>
              </div><!-- /.form-group [biography] -->

            </div><!-- /.col [right] -->

          </div><!-- /.row -->

        </div><!-- /.profile-content -->
      </form><!-- /form [profile_form] -->
    </div><!-- /.container -->

<% include ../partials/page-footer %>
