<% /* file: views/user/show.ejs                       */ %>

<% include ../partials/page-header %>

<!---------------------------------->
    <div id="avatar-chooser-dialog" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">

            <img id="test-image">

            <div class="control-container">
              <span id="info-button" class="inline-block pull-left" tabindex="0" data-toggle="popover" data-trigger="focus" title="click for info" data-content="drag and drop your local or web image onto the cropping tool, or else use the form control to either upload your image file or specify an image url on the web">
                <i class="fa fa-info-circle" title="click for info"></i>
              </span>
              <span class="text-center">
                <button id="crop-button" class="inline-block btn btn-primary btn-sm btn-normalize">crop image</button>
              </span>
              <span id="close-button" class="inline-block pull-right" data-dismiss="modal">
                <i class="fa fa-close" title="close dialog window"></i>
              </span>
            </div>

            <!--<div class="row">-->
            <!--  <div class="col-xs-4 col-sm-2">-->
            <!--    <span class="text-center">-->
            <!--      <button id="crop-button" class="btn btn-primary btn-sm btn-normalize">crop image</button>-->
            <!--    </span>-->
            <!--  </div><!-- /.col -->

            <!--  <div class="col-xs-8 col-sm-10">-->
            <!--    <div id="close-button" class="pull-right" data-dismiss="modal">-->
            <!--      <i class="fa fa-close"></i>-->
                  <!--&times;-->
            <!--    </div>-->
            <!--    <div id="info-button" class="pull-left" tabindex="0" data-toggle="popover" data-trigger="focus" title="click for info" data-content="drag and drop your local or web image onto the cropping tool, or else use the form control to either upload your image file or specify an image url on the web">-->
            <!--      <i class="fa fa-info-circle"></i>-->
            <!--    </div><!-- /#info-button -->
            <!--  </div><!-- /.col -->
            <!--</div><!-- /.row -->

            <!--<i class="fa fa-info-circle" onclick="showInfoPop()" onhover="showInfoPop()" data-toggle="tooltip" data-placement="left"></i>-->

            <div id="avatar-cropper">
              <img id="cropper-image" src="https://farm9.staticflickr.com/8609/16169099399_bd393db803.jpg">
            </div><!-- /#avatar-croppe -->

            <!--<div class="caption-container">-->
            <!--  <div id="cropper-caption"></div>-->
            <!--</div>-->

            <div id="control-group-container">
              <!--<span id="image-url-feedback" class="control-group-feedback">error loading image</span>-->
              <label for="image-url" class="control-group-label">error: image could not be imported</label>
          <!--<label for="image-url" class="control-group-label">error while loading the file or url w</label>-->
              <div class="control-group">
                <input id="upload-button" class="control-group-button btn btn-primarybtn-sm btn-normalize" type="button" value="upload file">
                <input id="image-url" class="form-control control-group-input" type="text" placeholder="or paste image url here">
              </div><!-- /.control-group -->
              <!--<label for="image-url" class="control-group-label">or drag and drop file or web image</label>-->
            </div><!-- /.control-group-container -->

          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<!---------------------------------->

    <div class="container profile-container">
      <form name="profile_form" action="/user/<%= user._id %>" method="POST">

        <div class="profile-banner">
<% /* for site admins, prefix the admin-badge to the username */
   if (user.is_admin) { %>
          <span class="glyphicon glyphicon-king thumbnail inline" title="site administrator"></span>
<% } %>
          <h1 id="username-banner" class="inline"><%= user.username %></h1>
<% /* for suspended users, display a notice-banner below the username */
   if (user.is_suspended) { %>
          <h3 class="suspended">USER SUSPENDED</h3>
          <a class="suspended" href="javascript:showViolationNotice()">notice of violation</a>
<% } %>
        </div><!-- /.profile-banner -->

        <div class="profile-content">
          <div class="row">
            <div class="col-xs-12 col-sm-4 no-gutter">

              <div class="avatar-container center-block">
                <i class="undo-button fa fa-undo" title="undo edit" data-input="avatar-input" data-undo="avatar-undo" data-changed="avatar"></i>
                <img id="avatar-image" class="thumbnail avatar-thumbnail" alt="avatar" src="<%= user.avatar_url %>" data-toggle="modal" data-target="#avatar-chooser">
              </div><!-- /.avatar-container -->
              <input type="hidden" name="avatar_url" value="<%= user.avatar_url %>">

              <h6 class="text-center dimmed"><em>join date:
                <span id="join-date-banner"><%= user.join_date %></span></em>
              </h6><!-- /.text-center -->

              <div class="text-center">
  <% /* for site-admins, if not viewing their own profile, display the appropriate admin-button */
     if (currentUser && currentUser.is_admin && user.username !== currentUser.username) { %>
    <% if (user.is_suspended) { %>
                <button id="reinstate-button" class="profile-button btn btn-success btn-sm btn-normalize" href="javascript:adminForm.submit()">reinstate user</button>
    <% } else { %>
                <button id="suspend-button" class="profile-button btn btn-danger btn-sm btn-normalize" href="javascript:suspendUser()">suspend user</button>
    <% } %>
  <% } %>

  <% /* for site-users, if viewing their own profile and not suspended, display the form-submit button */
     if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <button id="save-button" class="profile-button btn btn-primary btn-sm btn-normalize" type="submit" disabled="disabled">save changes</button>
  <% } %>
              </div><!-- /.text-center [profile-buttons] -->

            </div><!-- /.col [left] -->

            <div class="col-xs-12 col-sm-8 no-gutter">

              <div class="form-group">
                <label for="first-name-input">first name</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="first-name-input" data-undo="first-name-undo" data-changed="firstName"></i>
                </span><!-- /.pull-right -->
                <input id="first-name-undo" type="hidden" value="<%= user.first_name %>">
  <% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="first-name-input" class="form-control" type="text" name="user[first_name]" placeholder="first name" value="<%= user.first_name %>" data-changed="firstName">
  <% } else { %>
                <input id="first-name-input" class="form-control" type="text" name="user[first_name]" placeholder="first name" value="<%= user.first_name %>" readonly>
  <% } %>
              </div><!-- /.form-group [first-name] -->

              <div class="form-group">
                <label for="last-name-input">last name</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="last-name-input" data-undo="last-name-undo" data-changed="lastName"></i>
                </span><!-- /.pull-right -->
                <input id="last-name-undo" type="hidden" value="<%= user.last_name %>">
  <% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="last-name-input" class="form-control" type="text" name="user[last_name]" placeholder="last name" value="<%= user.last_name %>" data-changed="lastName">
  <% } else { %>
                <input id="last-name-input" class="form-control" type="text" name="user[last_name]" placeholder="last name" value="<%= user.last_name %>" readonly>
  <% } %>
              </div><!-- /.form-group [last-name] -->

              <div class="form-group">
                <label for="email-address-input">email address</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="email-address-input" data-undo="email-address-undo" data-changed="emailAddress"></i>
                </span><!-- /.pull-right -->
                <input id="email-address-undo" type="hidden" value="<%= user.email_address %>">
  <% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <input id="email-address-input" class="form-control" type="text" name="user[email_address]" placeholder="email address" value="<%= user.email_address %>" data-changed="emailAddress">
  <% } else { %>
                <input id="email-address-input" class="form-control" type="text" name="user[email_address]" placeholder="email address" value="<%= user.email_address %>" readonly>
  <% } %>
              </div><!-- /.form-group [email-address] -->

              <div class="form-group">
                <label for="biography-input">biography</label>
                <span class="pull-right">
                  <i class="undo-button fa fa-undo" title="undo edit" data-input="biography-input" data-undo="biography-undo" data-changed="biography"></i>
                </span><!-- /.pull-right -->
                <input id="biography-undo" type="hidden" value="<%= user.biography %>">
  <% /* for site-users, if viewing their own profile and not suspended, make the form fields editable */
   if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
                <textarea id="biography-input" class="form-control" rows="4" name="user[biography]" placeholder="biography" data-changed="biography"><%= user.biography %></textarea>
  <% } else { %>
                <textarea id="biography-input" class="form-control" rows="4" name="user[biography]" placeholder="biography" readonly><%= user.biography %></textarea>
  <% } %>
              </div><!-- /.form-group [biography] -->

            </div><!-- /.col [right] -->

          </div><!-- /.row -->

        </div><!-- /.profile-content -->
      </form><!-- /form [profile_form] -->
    </div><!-- /.container -->

<% include ../partials/page-footer %>
